@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}


.animar{
    animation: anime .3s ease-in-out;
}

@keyframes  anime {
    from{
        transform: translate3d(0,-100px,0);
    }to{
        transform: translate3d(0,0,0);
    }
}